# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\year 3\Compiler-Design\A3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
